/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 1, 2024, 10:42:46 AM
    Author     : mlibrants
*/

body {
    background-color: lightgrey;
}
b {
    color: blue
}
p {
    color: lightsalmon
}